ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 130px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  h1{
    text-align: center;
  }
  .active{
    text-align: center;
  }
  .menu{
    color: crimson;
    font-size: medium;
    font-family: cambri;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }